
<h1>Pas de panique c'est la page d'accueil</h1>
<p> C'est qui ? </p>
<div container-
<form class="form-inline">
<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
<button class="btn btn btn-outline-primary" type="submit">
<a class="nav-link" href="http://localhost:3000/the_gossip_project/welcome"> C'est moi</a>
</button>

</form>
<container>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

